.title{
    background: red;
    position: relative;
    height: 50px;
    max-width: 500px;
    border-radius: 4px;
    text-align: left;
    padding: 6px;
    margin: 0 auto;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;}

.content{
    background: darkred;
    position: relative;
    height: 425px;
    max-width: 500px;
    border-radius: 4px;
    text-align: center;
    padding: 6px;
    margin: 0 auto;
    border: 1px solid black;
}

.Imagen{
    background: lightgray;
    float:left;
    height: 150px;
    width: 250px;
    border-radius: 4px;
    text-align: center;
    padding: 6px;
    margin: 0 auto;
    border: 1px solid black;
}

.Imagen img{
    border-radius: 50%;
}

.Informacion{
    background: cyan;
    float:right;
    height: 150px;
    width: 220px;
    border-radius: 4px;
    text-align: left;
    padding: 6px;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 25px;
}

.Informacion div#pokeNam{float:right;}
.Informacion div#pokeId{float:left;}

 
.Estadisticas{
    background: darkkhaki;
    float: left;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    padding: 6px;
    margin: 0 auto;
    border: 1px solid black;
}

.Estadisticas div#pokeStats{
    margin-top: 25px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    font-size: 20px;
    text-align: justify;
}

.Movimientos{
    background: lightgray;
    float: right;
    height: 250px;
    width: 220px;
    border-radius: 4px;
    text-align: justify;
    padding: 6px;
    margin: 0 auto;
    border: 1px solid black;
}

.Movimientos div#pokeMoves{
    width: 220px;
    height: 250px;
    overflow-y: scroll;
    font-size: 15px;
}