body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(./img/pokemon.png);
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Header */
header {
    display: flex;
    margin-top: 4%;
    width: 99%;
    height: 100px;
    align-items: center;
    border-radius: 15px;
    background-color: #9b0404;
    border-style: groove;
    border-color: black;
    border-radius: 15px;
}

nav {
    width: 60%;
    height: 100%;
    border-style: groove;
    border-color: black;
    border-radius: 15px;
    border-radius: 15px 100px 0px 15px;
}

.title {
    color: #fff;
    font-size: 20px;
}

.circle-1 {
    width: 90px;
    height: 90px;
    background-color: red;
    border-radius: 100%;
    border-style: groove;
    border-color: #000000;
}

.circle-2 {
    width: 90px;
    height: 90px;
    background-color: yellow;
    border-radius: 100%;
    border-style: groove;
    border-color: #000000;
}

.circle-3 {
    width: 90px;
    height: 90px;
    background-color: green;
    border-radius: 100%;
    border-style: groove;
    border-color: #000000;
}

section {
    width: 99%;
    height: 540px;
    border-radius: 15px;
    background-color: #9b0404;
    border-style: groove;
    border-color: black;
    border-radius: 15px;
}

/* Buscar Pokemon */
.search input {
    width: 25%;
    border-radius: 15px 0px 0px 15px;
}

.search button {
    width: 20px;
    height: 20px;
    background-image: url(./img/search.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

/* Informacion del Pokemon */
.data {
    background-color: #117791;
    margin-left: .75%;
    width: 98%;
    height: 250px;
    float: left;
    align-items: center;
    border-style: groove;
    border-color: black;
    border-radius: 15px;
}

.information {
    background-color: #117791;
    float: left;
    width: 60%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    ;
}

.information .id {
    color: #ffffff;
    font-size: 20px;
    margin-left: 2%;
}

.information .name {
    color: #ffffff;
    font-size: 25px;
    margin-left: 2%;
}

.information .height,
.information .weight {
    color: #ffffff;
    font-size: 20px;
    margin-left: 2%;
}

.information .types {
    color: #ffffff;
    font-size: 20px;
    margin-left: 2%;
}

.image {
    background-color: #117791;
    float: right;
    width: 39%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
}

.image img {
    background-image: url(img/forest.png);
    background-size: 100% 100%;
    float: right;
    width: 100%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
}

/* Tipos */
.types-container {
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
}

.type-box {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.normal {
    background-color: lightgray;
}

.fighting {
    background-color: orange;
}

.flying {
    background-color: lightskyblue;
}

.poison {
    background-color: purple;
}

.ground {
    background-color: brown;
}

.rock {
    background-color: burlywood;
}

.bug {
    background-color: lightgreen;
}

.ghost {
    background-color: darkmagenta;
}

.steel {
    background-color: gray;
}

.fire {
    background-color: orangered;
}

.water {
    background-color: blue;
}

.grass {
    background-color: green;
}

.electric {
    background-color: yellow;
}

.psychic {
    background-color: lightcoral;
}

.ice {
    background-color: lightblue;
}

.dragon {
    background-color: darkblue;
}

.dark {
    background-color: black;
}

.fairy {
    background-color: pink;
}

/* Estadisticas */
.stats {
    background-color: #a89c91;
    width: 48%;
    height: 250px;
    float: left;
    align-items: center;
    border-style: groove;
    border-color: black;
    border-radius: 15px;
}

.stat {
    margin-top: 3%;
}

.stat-name {
    margin-left: 2%;
    color: #000000;
    font-weight: bold;
}

.stat-value {
    margin-left: 5px;
    color: #000000;
}

/* Movimientos */
.moves {
    background-color: lightsalmon;
    width: 48%;
    height: 250px;
    float: right;
    align-items: center;
    border-style: groove;
    border-color: black;
    border-radius: 15px;
}

.moves .pokeMoves {
    color: #000000;
    height: 250px;
    margin-left: 2%;
    overflow-y: scroll;
    font-size: 20px;
}

@media (max-width: 600px) {
    header {
        display: flex;
        margin-top: 20%;
        width: 99%;
        height: 50px;
        align-items: center;
        border-radius: 15px;
        background-color: #9b0404;
    }

    .circle-1 {
        width: 40px;
        height: 40px;
        background-color: red;
        border-radius: 100%;
        border-style: groove;
        border-color: #000000;
    }
    
    .circle-2 {
        width: 40px;
        height: 40px;
        background-color: yellow;
        border-radius: 100%;
        border-style: groove;
        border-color: #000000;
    }
    
    .circle-3 {
        width: 40px;
        height: 40px;
        background-color: green;
        border-radius: 100%;
        border-style: groove;
        border-color: #000000;
    }

    .title {
        color: #fff;
        font-size: 7px;
        align-items: center;
    }

    section {
        width: 99%;
        height: 300px;
        border-radius: 15px;
        background-color: #9b0404;
    }

    /* Buscar Pokemon */
    .search input {
        width: 60%;
        border-radius: 15px 0px 0px 15px;
    }
    
    .search button {
        width: 20px;
        height: 20px;
        background-image: url(./img/search.png);
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }

    .data {
        margin-left: .75%;
        width: 98%;
        height: 130px;
        float: left;
        align-items: center;
        border-style: groove;
        border-color: black;
        border-radius: 15px;
    }

    /* Informacion */
    .information {
        float: left;
        background-color: #117791;
        width: 60%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }

    .information .id {
        color: #ffffff;
        font-size: 12px;
        margin-left: 2%;
    }

    .information .name {
        color: #ffffff;
        font-size: 15px;
        margin-left: 2%;
    }

    .information .height,
    .information .weight {
        color: #ffffff;
        font-size: 12px;
        margin-left: 2%;
    }

    .information .types {
        color: #ffffff;
        font-size: 10px;
        margin-left: 2%;
    }

    .image {
        background-color: #117791;
        float: right;
        width: 37%;
        height: 100%;
        border-radius: 0px 15px 15px 0px;
    }

    .image img {
        background-image: url(img/forest.png);
        background-size: 100% 100%;
        float: right;
        width: 100%;
        height: 100%;
        border-radius: 0px 15px 15px 0px;
    }

    /* Tipos */
    .types-container {
        margin-left: 2%;
        display: flex;
        flex-wrap: wrap;
    }

    .type-box {
        margin-right: 1px;
        margin-bottom: 2px;
        padding: 1px 1px;
        border-radius: 5px;
        font-weight: bold;
        color: white;
    }

    /* Estadisticas */
    .stats {
        width: 47%;
        height: 130px;
        float: left;
        align-items: center;
        border-style: groove;
        border-color: black;
        border-radius: 15px;
    }

    .stat {
        margin-top: 1%;
    }

    .stat-name {
        margin-left: 5%;
        color: #000000;
        font-weight: bold;
        font-size: 5px;
    }

    .stat-value {
        margin-left: 2px;
        color: #000000;
        font-size: 5px;
    }

    /* Movimientos */
    .moves {
        width: 47%;
        height: 130px;
        float: right;
        align-items: center;
        border-style: groove;
        border-color: black;
        border-radius: 15px;
    }

    .moves .pokeMoves {
        color: #000000;
        height: 130px;
        margin-left: 10%;
        overflow-y: scroll;
        font-size: 8px;
    }
}